*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-weight: 900;
  letter-spacing: 1px;
}

button {
  padding: 12px 24px;
  border: none;
  outline: none;
  margin: 0 4px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
} 


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');